In [ ]:
df:
    generate_random_data_slice:
        slice_df : 
        obs_df
        train_df

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\user\Desktop\123244\binance_data-123.csv')
df = df.drop('Date', axis=1)
df

          Open      High       Low     Close     Volume
0     47976.51  48050.00  47976.45  48037.20   49.50214
1     48037.21  48037.21  47966.73  47969.88   24.25207
2     47969.88  47992.87  47966.71  47971.50   17.03024
3     47971.50  47994.61  47970.00  47974.03   19.95203
4     47979.06  47979.16  47937.77  47948.86   13.76898
...        ...       ...       ...       ...        ...
5308  46497.67  46500.01  46447.44  46486.78  107.22590
5309  46486.77  46500.01  46464.13  46470.38   77.59582
5310  46470.37  46550.00  46468.34  46529.55   88.60932
5311  46529.62  46539.19  46501.71  46535.58   23.55809
5312  46535.58  46546.14  46487.47  46492.40   19.43318

[5313 rows x 5 columns]

In [ ]:
    def generate_random_df_slice(df, window_size, test_window_size):
        max_start_index = len(df) - window_size - test_window_size
        if max_start_index <= 0:
            raise ValueError("데이터 크기가 너무 작아 분할할 수 없습니다.")

        start_index = np.random.randint(0, max_start_index)
        end_index = start_index + window_size
        test_end_index = end_index + test_window_size

        return df[start_index:test_end_index], df[start_index:end_index], df[end_index:test_end_index]

    def next_observation(self):
        observation_df = self.slice_df.iloc[(self.current_index-101)+1:(self.current_index-1)+1]
        return observation_df

In [ ]:
window_size = 100
test_window_size = 10
def generate_random_df_slice(df, window_size, test_window_size):
    # 최대 시작 인덱스를 계산합니다. 이는 데이터프레임의 길이에서 윈도우 크기와 테스트 윈도우 크기를 뺀 값입니다.
    max_start_index = len(df) - window_size - test_window_size
    
    # 만약 최대 시작 인덱스가 0 이하라면, 데이터 크기가 너무 작아 분할할 수 없다는 에러를 발생시킵니다.
    if max_start_index <= 0:
        raise ValueError("데이터 크기가 너무 작아 분할할 수 없습니다.")

    # 시작 인덱스를 랜덤하게 선택합니다. 선택 범위는 0부터 최대 시작 인덱스입니다.
    start_index = np.random.randint(0, max_start_index)
    # 끝 인덱스는 시작 인덱스에 윈도우 크기를 더한 값입니다.
    end_index = start_index + window_size
    # 테스트 끝 인덱스는 끝 인덱스에 테스트 윈도우 크기를 더한 값입니다.
    test_end_index = end_index + test_window_size

    # 데이터프레임을 시작 인덱스와 테스트 끝 인덱스로 슬라이싱하고, 시작 인덱스와 끝 인덱스로 슬라이싱하고,
    # 끝 인덱스와 테스트 끝 인덱스로 슬라이싱한 결과를 반환합니다.
    return df[start_index:test_end_index], df[start_index:end_index], df[end_index:test_end_index]

def next_observation(self):
    # 현재 인덱스를 기준으로 이전 100개의 관찰값을 슬라이싱하여 반환합니다.
    observation_df = self.slice_df.iloc[(self.current_index-101)+1:(self.current_index-1)+1]
    return observation_df

In [344]:
from sklearn.preprocessing import MinMaxScaler

In [188]:
import pandas as pd
df = pd.DataFrame({'Column1': range(100), 'Column2': range(100)})
df

    Column1  Column2
0         0        0
1         1        1
2         2        2
3         3        3
4         4        4
..      ...      ...
95       95       95
96       96       96
97       97       97
98       98       98
99       99       99

[100 rows x 2 columns]

In [334]:
import pandas as pd
df = pd.DataFrame({'Column1': range(100), 'Column2': range(100)})

full_window_size = 50
train_window_size = 20

def a(df):
    df = df
    strat_index = np.random.randint(0, len(df) - full_window_size)
    end_index = strat_index + full_window_size
    obs_end = end_index - train_window_size
    train_start = obs_end
    
    return df[strat_index:end_index], df[strat_index:obs_end], df[train_start:end_index]
    
full, obs, test = a(df)
full, obs, test

(    Column1  Column2
 18       18       18
 19       19       19
 20       20       20
 21       21       21
 22       22       22
 23       23       23
 24       24       24
 25       25       25
 26       26       26
 27       27       27
 28       28       28
 29       29       29
 30       30       30
 31       31       31
 32       32       32
 33       33       33
 34       34       34
 35       35       35
 36       36       36
 37       37       37
 38       38       38
 39       39       39
 40       40       40
 41       41       41
 42       42       42
 43       43       43
 44       44       44
 45       45       45
 46       46       46
 47       47       47
 48       48       48
 49       49       49
 50       50       50
 51       51       51
 52       52       52
 53       53       53
 54       54       54
 55       55       55
 56       56       56
 57       57       57
 58       58       58
 59       59       59
 60       60       60
 61       61       61
 62       62       62
 63       63       63
 64       64       64
 65       65       65
 66       66       66
 67       67       67,
     Column1  Column2
 18       18       18
 19       19       19
 20       20       20
 21       21       21
 22       22       22
 23       23       23
 24       24       24
 25       25       25
 26       26       26
 27       27       27
 28       28       28
 29       29       29
 30       30       30
 31       31       31
 32       32       32
 33       33       33
 34       34       34
 35       35       35
 36       36       36
 37       37       37
 38       38       38
 39       39       39
 40       40       40
 41       41       41
 42       42       42
 43       43       43
 44       44       44
 45       45       45
 46       46       46
 47       47       47,
     Column1  Column2
 48       48       48
 49       49       49
 50       50       50
 51       51       51
 52       52       52
 53       53       53
 54       54       54
 55       55       55
 56       56       56
 57       57       57
 58       58       58
 59       59       59
 60       60       60
 61       61       61
 62       62       62
 63       63       63
 64       64       64
 65       65       65
 66       66       66
 67       67       67)

In [343]:
# B의 0번 행을 빼서 변수에 저장
row_to_move = test.iloc[0:1]

# A의 끝에 B의 0번 행 추가
obs = pd.concat([obs, row_to_move], ignore_index=True)

# B에서 0번 행 삭제
test = test.drop(test.index[0])
last_row = obs.tail(1)

print(last_row)
print(obs.tail(5))
print(test.head(5))

    Column1  Column2
38       56       56
    Column1  Column2
34       52       52
35       53       53
36       54       54
37       55       55
38       56       56
    Column1  Column2
57       57       57
58       58       58
59       59       59
60       60       60
61       61       61